@import '../../../scss/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-row:last-child {
  margin-top: auto;
}

.submitBtn {
  font-size: 0.9rem;
}
