@import "../../../scss/variables.scss";

.card {
  margin-bottom: 25px;
}

.singlePostContainer {
  width: 800px;
  height: 400px;
  margin: 50px;
}

.singlePost {
  width: 100%;
  height: 95%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 20px;
  background: #f8f9fa;
}

.singlePost p {
  text-align: left;
}

.post-title {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 15px;
  margin: 0;
  font-size: 23px;
  background-color: $violet;
  color: $white;
  font-family: $font-primary;
}

.post-header {
  border-top: 1px solid rgb(199, 199, 199);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

.user-id {
  font-size: 18px;
}

.post-date {
  color: black;
  font-size: 18px;
}

.post-text {
  margin: 15px;
  color: rgb(46, 46, 46);
  font-size: 18px;
  height: 250px;
  overflow-y: scroll;
  line-height: 2rem;
  font-family: $font-secondary;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
}

.item-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.deletePostButton {
  max-width: 170px;
}
