@import '../../../scss/variables.scss';

.user-item {
  border: 1px solid $black;
  text-align: center;
}

.user-item:last-child {
  padding: 0;
}

.delete-button {
  width: 100%;
  height: 100%;
  color: $white;
  background-color: $secondary;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-button:hover {
  filter: brightness(110%);
}
