$font-primary: "Open Sans", sans-serif;
$font-secondary: "PT Serif", serif;

$grey: #f8f9fa;
$dark-grey: #444;
$light-grey: rgb(158, 158, 158);
$gainsboro: #ddd;
$blue: #007bff;
$black: black;
$white: white;
