$font-primary: "Open Sans", sans-serif;
$font-secondary: "PT Serif", serif;

$grey: #f8f9fa;
$dark-grey: #444;
$light-grey: rgb(158, 158, 158);
$gainsboro: #ddd;
$blue: #007bff;
$light-blue: #017cffd0;
$violet: #3f51b5;
$black: black;
$white: white;
$danger: #d5212e;
$secondary: #6c757d;
